@import url ("https://fonts.googleapis.com/css?family=Qwigley")
* {
    margin: 0;
    padding: 0;
}
body  {
    background-color: #e5e3e3;
    background-image: url(img/background.png);
    font-family: font-family: 'Qwigley', cursive;
    line-height: 190%;
    text-align: center;
}
.intro {
    margin: 10%;
}h1 {
    display: inline;
    font-size: 250%;
    font-weight: 200;
    line-height: 150%;
    color: black;
    opacity: .7;
    text-shadow: 1.5px 1.5px gray;
    text-align: center;
    margin-top: 5%;
}
h3 {
    text-align: left;
    font-size: 225%;
    color: black;
    opacity: .7;
    text-shadow: 1.5px 1.5px gray;
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
}
.one-third  {
    display: inline-block;
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.one-third img {
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 5px #9e9e9e;
}
.logo {
    width: 100%;
    margin-bottom: 45%;
    opacity: .8;
}
.icons {
    font-size: 250%;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 2%;
}
.color {
    color: black;
    opacity: .5;
}
footer  {
    width: 100%;
    height: 100px;
    background-color: #D8D8D8;
    border-top: 3px solid gray;
    margin-top: 5%;
}
footer p {
    text-align: center;
    line-height: 100%;
    color: gray;
    opacity: .8;
    padding-top: 2%;
}
